<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Front-End Commerce Cloud Developer at
      <a class="underline-link" href="https://www.ibm.com/us-en?ar=1" target="_blank">IBM</a> building stuff for cool companies in the 
      <a class="underline-link" href="https://developer.salesforce.com/docs" target="_blank">Salesforce</a> ecosystem.
    </p>

    <p>
      As a Front-End Developer, I love collaborating with Designers and Back-End Devlopers and help produce great design experiences and functional solutions. 
      I like to build the features and user experiences that are scalable and efficient.
    </p>

    <p>
      <strong>Otherwise</strong>, I am listening to music, dancing Salsa, playing softball or spending time with my family and traveling.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
