<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://www.pepsico.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/pepsico/pepsico.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.pepsico.com/" target="_blank">PepsiCo</a>
        </div>
        <p>Build front-end features for Frito-Lay Schedule Manager 2.0 Salesforce tool. Such as schedule summary calendar, plus ensure new UX design are translated to the web.</p>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="https://www.centurylink.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/centurylink/centurylink.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.centurylink.com/" target="_blank">Century<strong>Link</strong></a>
        </div>
        <p>Help configured, designed and deployed Salesforce Chat on CenturyLink.com site. CenturyLink moved their legacy chat solution to Salesforce Chat which included Omni-Channel and AI capabilites.</p>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="https://casadecampo.com" target="_blank">
          <img src="{{site.baseurl}}/img/featured/casadecampo/casadecampo.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://casadecampo.com" target="_blank">casadecampo.com</a>
        </div>
        <p>Help launch new Luxury Real Estate site. Assisted on site theme, logo, branding and lead generation solution.</p>
      </figcaption>
    </div>
  </div>
</section>
